{% extends 'base.html' %}
{% block content %}
    <div class="container d-flex justify-content-center align-items-center">
    <div class="jumbotron my-auto">
    <div class="card">
    <div class="card-body">
        {% if message %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endif %}
        {% if form.csrf_token.errors %}
            <div class="alert alert-info">You have submitted an invalid CSRF token</div>
        {% endif %}
        {% from "forms/_helpers.html" import render_field %}
        <form method=post>
            {{ form.csrf_token }}
            {{ render_field(form.amount) }}
            {{ render_field(form.currency) }}
            {{ render_field(form.description) }}
            <p><input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
{% block script %}
<script>
    const textField = document.getElementById('{{ form.amount.id }}');
    console.log(textField);
        textField.onchange = function() {
            this.value = parseFloat(this.value).toFixed(2);
            console.log(this.value)
        }
</script>
{% endblock %}